pymupdf
pdfplumber 
pandas
typing 
install 
chromadb 
sentence-transformers
sec-edgar-downloader
beautifulsoup4 
html2text 
lxml
langchain_core
torch 
torchvision 
transformers 
pillow
docx
llama-cpp-python
huggingface_hub
clamav
postgresql@16

/* CMAKE_ARGS="-DGGML_METAL=on" pip install llama-cpp-python --force-reinstall --no-cache-dir */